.inner_flex_inputs_pin {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
#next_btn_pin{
    height: 40px;
    width: 28%;
    min-width: 150px;
}
.login_canvasser_container{
    width: 80%;
    max-width: 600px;
    /* background: rgb(94, 130, 184); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: calc(100vh - 150px);
    justify-content: center;
}
.login_canvasser_container h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}