.analysis_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boolean_doughnut_container{
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    order:1
}
.boolean_doughnut_container h1{
    font-weight: 600;
}
.goal_progressbar_container{
    width: 40%;
    min-width: 300px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    order: 2;
   
}
.goal_progressbar_container h1{
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    text-transform: uppercase;
}
.goal_progressbar_container p{
    font-weight: 600;
    font-size: 12px;
}
.progressbar-progress{
    height: 50px !important;
}
.progressbar-container{
    border: 1px solid black !important;
    border-radius: 3px;
}

.number_stats_container{
    width: 21%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    order:3
}
.number_stats_container h1{
    font-weight: 600;
    margin: 5px;
}
.number_stats{
    width: calc(100% + 20px);
    border-top: 1px solid black;
}
.number_stats tr td{
    border: 1px solid black;
    padding: 5px;
}
.line_chart_profiles{
    order:4;
    max-width: 800px;
    width: 70%;
    margin: 40px;
}

@media screen and (max-width: 650px){
    .line_chart_profiles{
        width: 100%;
        margin: 0px;
    }
}
@media screen and (max-width: 843px){
    .boolean_doughnut_container{
        order:2;
    }
    .goal_progressbar_container{
        order:1;
    }
}