.map_container{
    display: flex;
    width: 100vw;
    height: calc(100vh - 110px);
}
.left_side_map{
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    border-right: 1px solid black;
    overflow: auto;
}
.right_side_map{
    width: calc(100vw - 300px);
}
.profile_card_map{
    height: 100px;
    width: 93%;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile_card_map h1{
    font-size: 18px;
    font-weight: 600;
}
.profile_card_map p{
    font-size: 13px;
}
.active_profile_map{
    background: #736262;
    color: white;
}
.reset_map_btn{
    margin: 15px;
}
.goal_doughnut_container{
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 730px){
    .map_container{
        height: calc(100vh - 90px);
    }
}
@media screen and (max-width: 730px){
    .map_container{
        flex-direction: column-reverse;
    }
    .left_side_map {
        width: 100vw;
    }
    .right_side_map{
        width: 100vw;
        height: 300px;
    }
    .profile_card_map{
        width: 99vw;
        padding:0px;
    }
    .map_btn_container{
        justify-content: center;
        width: 100%;
        display: flex;
    }
}