.dashboard_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: calc(100vh - 100px); */
    overflow: hidden;
}
.top_dashboard_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
/* .goal_progressbar_container > div{
    width: 40%;
} */
.survey_name{
    text-align: center;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}
.survey_name h1{
    font-size: 30px;
    margin: 5px;
    margin-right: 8px;
}
.edit_btn_survey{
    font-size: 13px;
    cursor: pointer; 
}
.flex_display_survey{
    display: flex;
    align-items: center;
}
.dashboard_map_container{
    order: 2;
    height: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.18);
}
.recent_campaigns_container{
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    order: 3;
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.18);
}
.recent_campaigns_card{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    align-items: center;
    /* border: 1px solid; */
    margin: 3px;
    cursor: pointer;
    border-radius: 3px;
    background: #A2D3C2;
}
.recent_campaigns_card h1{
    padding: 15px;
    font-size: 20px;
}
.recent_campaigns_card div{
    padding: 15px;
}
.recent_and_map_container{
    display: flex;
    order: 2;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    min-height: 382px;
}
.edit_survey_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit_survey_container input{
    font-size: 30px;
    margin: 5px;
    margin-right: 8px;
    text-align: center;
}
.edit_survey_btn_container{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.top_canvassers_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: white;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.18);
    margin: 20px;
    width: 45%;
}
.top_canvassers_table tr td{
    padding: 10px;
    border: 1px solid black;
}
.goal_progressbar_container_dashboard{
    width: 40%;
    min-width: 300px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    order: 2;
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.18);
}

@media screen and (max-width: 825px){
    .recent_and_map_container{
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .recent_campaigns_container{
        margin: 15px;
        width: 80%
    }
    .dashboard_map_container{
        width: 80%;
    }
    .map_dashboard_container{
        width: 100% !important;
    }
    .not_right_container{
        width: 100%;
    }
    .top_dashboard_container{
       flex-direction: column-reverse;
    }
    .top_canvassers_table{
        width: 100%;
        max-width: 628px;
    }
}