.advance_view_container{
    width: 100vw;
    display: flex;
    /* height: 80vh; */
}
.advance_left_box{
    flex:7;
    /* border-right: 1px solid black; */
}
.advance_right_box{
    flex:5;
}
.no_advances_right{
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 30px;
}