header{
    height:70px;
    /* background: linear-gradient(to left, #58bd91, #54c1a7, #58c5b9, #65c8c9, #77cad5); */
    /* background: #77c9d4; */
    background: #0B2239;
    overflow: hidden;
}
.gather_logo{
    color: black;
    padding: 8px;
    font-size: 50px;
    text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-left: 30px;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    font-weight: 600;
}
.user_btn{
    margin: 30px;
    padding: 10px;
    border-radius: 50%;
    background: #dddddd;
}
.nav_links{
    cursor: pointer;
    color: white;
    padding-bottom: 4px;
    font-size: 1.2em;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.nav_links_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69%;
    margin-left: 40px;
    font-size: 1.2em;
}
.btn_container{
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.nav_btns{
    background: #dddddd;
    height: 35px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
}
.logout_btn{
    margin-right: 30px;
}
.active_link{
    border-bottom: 2px solid white;
}
.modal_pin{
    position: absolute;
    top:50%;
    left:50%;
    right:auto;
    bottom:auto;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    background:#58bd91;
}
.enter_pin_container .info_container_btn{
    display: flex;
    min-width:200px;
    margin-top: 15px;
    justify-content: space-between;
    width:70%;
}
.enter_pin_container .input_pin_container{
    display: flex;
    min-width:200px;
    margin-top: 15px;
    justify-content: center;
    width:70%;
}
.enter_pin_container{
    width:320px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.enter_pin_container input{
    height: 20px;
    min-width:200px;
    font-size: 16px;
    width:70%;
    margin-top: 15px;
    border-width: 0;
    padding: 2px;
}
.enter_pin_container .enter_pin_input{
    width: 55px;
    min-width: 40px;
    font-size: 20px;
    height: 23px;
}
.login_canvasser_btn{
  width: 110px;
  height: 50px;
}
.enter_pin_container h2{
    font-size: 20px;
    font-weight: 600;
}
.pin_status_div{
    margin-top: 10px;
    color: red
}
.float_right_pin_module{
    position: absolute;
    top:8px;
    right: 8px;
    cursor: pointer;
    margin-top: 2px;
    font-size: 20px;
    z-index: 3;
}
.hamburger{
    height: 34px;
    width: 34px;
    position: absolute;
    top: 8px;
    left: 20px;
    display: none;
    cursor: pointer;
}

/* RESPONSIVE DESIGN CODE BELOW */

@media screen and (max-width: 730px){
    header{
        height: 50px;
        /* background: #c78585; */
    }
    .nav_container{
        justify-content: center;
    }
    .nav_links_container{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
        width: calc(100vw - 20px);
        background: #808080;
        margin-left: 0px;
        top: 50px;
        left: calc(-100vw - 20px);
        border-radius: 0px 0px 4px 0px;
        padding: 10px;
        transition: 0.2s;
        align-items: center;
        z-index: 1;
    }

    .show_nav{
        left:0px;
    }
    .hamburger{
        display: block;
    }
    .logout_btn{
        margin-right: 0px;
    }
}