header{
    height: 70px;
    /* background: linear-gradient(to left, #58bd91, #54c1a7, #58c5b9, #65c8c9, #77cad5); */
    /* background: #77c9d4; */
    background: #525454;
}
.gather_logo{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-left: 30px;
    cursor: pointer;
}
.user_btn{
    margin: 30px;
    padding: 10px;
    border-radius: 50%;
    background: #dddddd;
}
.nav_links{
    cursor: pointer;
    color: black;
    padding-bottom: 4px;
    font-size: 1.2em;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_container{
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.nav_btns{
    background: #dddddd;
    height: 35px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
}
.logout_btn{
    margin-right: 30px;
}
.active_link{
    border-bottom: 2px solid black;
}
.add_advance_container .enter_pin_input{
    width: 55px;
    min-width: 40px;
    font-size: 20px;
    height: 23px;;
}