.main_page_container{
    width: 100%;
    height: calc(100vh - 70px);
    /* background: rgb(48, 45, 45); */
}
.hero_image_container{
    height: calc(100vh - 70px);
    max-height: 600px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1486785/pexels-photo-1486785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;

}
.hero_image{
    height: 100%;
    width: 100%;
    background-color: rgba(125, 125, 125, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* line-height: 3.5em; */
    
}
.hero_image h1{
    /* text-transform: uppercase; */
    font-size: 3em;
    text-align: center;
    color: white;
}
.main_btn_container{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.join_btn{
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 200px;
    color: white;
    background: #57bc90;
    text-transform: uppercase;
    transition: 0.2s;
    /* border: 1px solid; */
}
.join_btn:hover{
    background: #dddddd;
    color: rgb(49, 49, 49);
}
.signup_btn{
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 200px;
    background: transparent;
    border: 2px solid;
    transition: 0.2s;
    text-transform: uppercase;
    color: white;
}
.signup_btn:hover{
    background: #dddddd;
    border: 0px;
    color: black;
    border: 0px;
}
.features_section_container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.feature_card{
    height: 200px;
    width: 400px;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #A2D3C2;
    padding: 20px;
}
.feature_card h1{
    font-size: 1.8em;
}
.hero_image .gather_in_main{
    font-size: 4.5em;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.more_info_container{
    width: 100%;
}
.screen_shots_container{
    width: 100%;
    height: 300px;
}
.create_new_survey_screenshot{

}
.input_data_screenshot{

}
.view_map_screenshot{

}

@media screen and (max-width: 1000px){
    .main_btn_container{
        width: 100%;
    }
    .features_section_container{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 730px){
    .hero_image_container{
        height: calc(100vh - 50px);
    }
}
@media screen and (max-width: 445px){
    .main_btn_container{
        flex-direction: column;
    }
    .join_btn{
        margin-bottom: 20px;
    }
    .hero_image h1{
        font-size: 2.5em;
    }
}