.map_dashboard_container{
    display: flex;
    height: 300px;
    width: 400px;
}
.not_right_container{
    width: 100%;
}

@media screen and (max-width: 730px){
    .not_right_container{
        width: 100%;
    }
    .map_dashboard_container{
        display: flex;
        width: 100%;
        height: 300px;
    }
}