.subnav_container{
    height: 40px;
    width: 100%;
    background:#ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.subnav_container a{
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.active_link_sub{
    border-bottom: 2px solid black;
}

@media screen and (max-width: 546px){
    .subnav_container{
        /* flex-direction: column; */
        flex-wrap: wrap;
        height: auto;
    }
    .subnav_container a{
        margin: 10px;
    }
}